$size: 50px;

.link {
    align-items: center;
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    height: $size;
    justify-content: center;
    margin: 10px;
    padding: 6px;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    width: $size;

    &:hover {
        opacity: 0.6;
    }
}