.root {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-block-end: 10px;
    margin-block-start: 0;
    text-align: center;
}

$imageWidth: 225px;

.image {
    border-radius: 50%;
    height: $imageWidth;
    width: $imageWidth;
}