.root {
    align-items: center;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: 50px;
    font-weight: 700;
    margin-block-end: 10px;
    margin-block-start: 0;
    text-align: center;
}

$imageSize: 225px;

.image {
    border-radius: 50%;
    height: $imageSize;
    width: $imageSize;
}

.cvButton {
    color: white;
    font-size: 30px;
    font-weight: 700;
}